<h1>Congratulations, {{ name }}</h1>
<p>Your application for mentor was accepted</p>

<h2>This is your account information:</h2>
<p>Email: {{ email }}</p>
<p>Password: {{ password }}</p>

<p>Please log in and change your password</p>